<details>
    <summary>About<span class="visually-hidden"> the app</span></summary>

    <p>This is an app that you can use to pick a name for someone using weirdly
    specific criteria.</p>

    <h2>Datasets</h2>

    <p>The data is produced from the public records of the following
    organizations:</p>

    <ul>
        <li><a href="https://www.ssa.gov/oact/babynames/limits.html">U.S. Social
        Security Agency</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/2540004">Institut
        national de la statistique et des études économiques</a></li>
    </ul>

    <p>These fields represent the following parameters:</p>

    <ul>
        <li><strong>Fem%</strong> - percentage of people assigned female at
        birth that use the name.</li>
        <li><strong>Rare%</strong> - how rare the name is compared to the most
        popular name in the dataset (on a logarithmic scale).</li>
    </ul>

    <p>The app makes the following assumptions when counting letters:</p>

    <ul>
        <li>a, e, i, o, u, y are <strong>vowels</strong>.</li>
        <li>b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, w, x, z are
        <strong>consonants</strong>.</li>
        <li>Accented letters are equivalent to their Unicode normalized
        form.</li>
    </ul>

    <h2>Licensing information</h2>

    <h3><a href="https://gitlab.com/warningnonpotablewater/webbotron">The app
    itself</a></h3>

    <p>Copyright 2023 Warning: Non-Potable Water</p>

    <p>This program is free software: you can redistribute it and/or modify it
    under the terms of the GNU Affero General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.</p>

    <p>This program is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
    or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
    License for more details.</p>

    <p><a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero
    General Public License</a></p>

    <h3>fuzzysort</h3>

    <p>Copyright (c) 2018 Stephen Kamenar</p>

    <p><a href="https://github.com/farzher/fuzzysort/blob/master/LICENSE">MIT
    License</a></p>

    <h3>Svelte</h3>

    <p>Copyright (c) 2016-23 <a
    href="https://github.com/sveltejs/svelte/graphs/contributors">these
    people</a></p>

    <p><a href="https://github.com/sveltejs/svelte/blob/main/LICENSE.md">MIT
    License</a></p>

    <h3>Source Sans</h3>

    <p>Copyright 2010-2020 Adobe (http://www.adobe.com/), with Reserved Font
    Name 'Source'. All Rights Reserved. Source is a trademark of Adobe in the
    United States and/or other countries.</p>

    <p>This Font Software is licensed under the <a
    href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL"> SIL
    Open Font License</a>, Version 1.1.</p>
</details>

<style>
    details {
        max-inline-size: 40rem;

        & > :global(:not(summary)) {
            line-height: 1.5;
        }
    }

    summary {
        inline-size: max-content;
    }

    h2, h3 {
        margin-block: 1rem;
        line-height: 1.25;
    }

    h2 {
        margin-block-start: 1.5rem;
    }
</style>
