<script lang="ts">
    import type {Snippet} from "svelte";

    interface Props {
        name: string,
        children: Snippet,
    }

    let {name, children}: Props = $props();
</script>

<fieldset>
    <legend>{name}</legend>

    {@render children?.()}
</fieldset>

<style>
    fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 0.75rem;
        padding-inline: 1rem;
        margin: 0;
        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-radius: var(--border-radius);
        background: var(--background-color);
    }

    legend {
        inline-size: fit-content; /* Needed by WebKit. */
        max-inline-size: 100%;
        padding-block: 0;
        padding-inline: 0.5rem;
        margin-inline-start: -1.5rem;
        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-radius: 9999px;
        background: var(--background-color);
    }
</style>
