<script lang="ts" generics="T">
    import type {HTMLSelectAttributes} from "svelte/elements";

    interface Props extends HTMLSelectAttributes {
        options: T[],
        captions?: string[],
        value: T,
    }

    let {
        options,
        captions,

        value = $bindable(),

        ...rest
    }: Props = $props();
</script>

<select {...rest} bind:value>
    {#each options as option, i}
        {#if captions}
            <option value="{option}">{captions[i]}</option>
        {:else}
            <option>{option}</option>
        {/if}
    {/each}
</select>
