<script lang="ts">
    import type {Snippet} from "svelte";

    interface Props {
        name: string,
        children: Snippet,
    }

    let {name, children}: Props = $props();
</script>

<fieldset>
    <legend>{name}</legend>

    {@render children?.()}
</fieldset>

<style>
    fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin: 0;
        border: none;

        & > :global(*) {
            flex-basis: 4rem;
            flex-grow: 1;
        }
    }

    legend {
        max-inline-size: 100%;
        padding: 0;
        padding-block-end: 0.25rem;
        font-weight: bold;
    }
</style>
