<script lang="ts">
    import type {HTMLInputAttributes} from "svelte/elements";

    interface Props extends HTMLInputAttributes {
        value: number,
    }

    let {
        value = $bindable(),
        ...rest
    }: Props = $props();

    function validate(event: Event & {currentTarget: HTMLInputElement}) {
        const input = event.currentTarget;

        if (input.value != "" && input.validity.valid) {
            value = input.valueAsNumber;
        } else {
            input.valueAsNumber = value;
        }
    }
</script>

<input {...rest} type="number" {value} onchange={validate}>
