<script lang="ts">
    import type {Snippet} from "svelte";

    interface Props {
        name: string,
        children: Snippet,
    }

    let {name, children}: Props = $props();
</script>

<label>
    <span class="caption">{name}</span>

    {@render children?.()}
</label>

<style>
    label {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
    }

    .caption {
        inline-size: 7rem;
        padding-block: calc(0.125rem + var(--border-width));

        & + :global(*) {
            flex-basis: 8rem;
            flex-grow: 1;
        }

        & + :global(input[type="checkbox"]) {
            flex-basis: initial;
            flex-grow: 0;
        }
    }
</style>
