<script lang="ts">
    import {FieldType, Name} from "../lib/name";

    import NumericInput from "./NumericInput.svelte";
    import Row from "./Row.svelte";

    interface Props {
        names?: Name[],
        error?: Error,
        pageSize: number,
        fieldType: FieldType,
    }

    let {
        names,
        error,

        pageSize,
        fieldType
    }: Props = $props();

    let page = $state(1);
    let pageCount = $state(1);

    let shownNames = $derived.by(() => {
        if (!names) {
            return;
        }

        const startIndex = (page - 1) * pageSize;
        const endIndex = startIndex + pageSize;

        return names.slice(startIndex, endIndex);
    });

    $effect(() => {
        if (!names) {
            page = 1;
            pageCount = 1;

            return;
        }

        page = 1;
        pageCount = Math.ceil(names.length / pageSize);
    });

    function formatError(error: Error) {
        let message = `${error.name}: ${error.message}`;

        if ("stack" in error) {
            message += `\n\n${error.stack}`;
        }

        return message;
    }

    function previous() {
        if (page == 1) {
            return;
        }

        page--;
    }

    function next() {
        if (page == pageCount) {
            return;
        }

        page++;
    }
</script>

{#snippet placeholder(message: string)}
    <tbody>
        <tr>
            <td colspan="3">{message}</td>
        </tr>
    </tbody>
{/snippet}

<div class="table-wrapper">
    <table id="table">
        {#if error}
            {@render placeholder(formatError(error))}
        {:else if !names}
            {@render placeholder("Loading...")}
        {:else if names.length == 0 }
            {@render placeholder("Nothing here")}
        {:else}
            {@const fields = Name.fieldsByType[fieldType]}
            {@const captions = Name.captionsForFields(fields)}

            <thead>
                <tr>
                    {#each captions as caption}
                        <th scope="col">{caption}</th>
                    {/each}
                </tr>
            </thead>

            <tbody>
                {#each shownNames! as name}
                    <tr>
                        {#each fields as field}
                            <td>{name[field]}</td>
                        {/each}
                    </tr>
                {/each}
            </tbody>
        {/if}
    </table>
</div>

{#if names && pageCount > 1}
    <Row name="Page">
        <NumericInput min={1} max={pageCount} bind:value={page} />
    </Row>

    <nav>
        <button onclick={previous}>
            Previous<span class="visually-hidden"> page</span>
        </button>
        <button onclick={next}>
            Next<span class="visually-hidden"> page</span>
        </button>
    </nav>

    <p>{names.length} names, {pageCount} pages total.</p>
{/if}

<style>
    .table-wrapper {
        overflow-inline: auto;
    }

    table {
        inline-size: 100%;
        border-collapse: collapse;
    }

    thead > tr,
    tbody > tr:nth-child(even) {
        background: var(--page-color);
    }

    th, td {
        padding-block: 0.2rem;
        padding-inline: 0.5rem;
        white-space: pre-line;
        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);
    }

    th:first-child {
        min-inline-size: 8rem;
        inline-size: 100%;
    }
    th:not(:first-child) {
        min-inline-size: 6rem;
    }

    td:not(:first-child) {
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        & > :global(*) {
            flex-basis: 6rem;
            flex-grow: 1;
        }
    }

    p {
        margin: 0;
    }
</style>
