<script lang="ts">
    import About from "./components/About.svelte";
    import Card from "./components/Card.svelte";
    import Dropdown from "./components/Dropdown.svelte";
    import MultiColumn from "./components/MultiColumn.svelte";
    import NumericInput from "./components/NumericInput.svelte";
    import Row from "./components/Row.svelte";
    import Table from "./components/Table.svelte";

    import * as exclude from "./filters/exclude";
    import {limit} from "./filters/limit";
    import {sort} from "./filters/sort";
    import {index, search} from "./filters/search";
    import {shuffle} from "./filters/shuffle";

    import * as datasets from "./lib/datasets";
    import {FieldType, Name, SortOrder} from "./lib/name";
    import {deserialize, serialize} from "./lib/save-state";

    // Not using $state.raw here makes everything 10 times as slow. Don't remove
    // it.

    let names = $state.raw<Name[]>();

    let parameters = $state({
        dataset: datasets.main,
        pageSize: 20,
        fieldType: FieldType.RELATIVE,

        sortField: Name.defaultSortField,
        sortOrder: Name.defaultSortOrder,
        needsShuffle: false,

        letters: "",
        prefixes: "",
        postfixes: "",
        regex: "",

        limits: structuredClone(Name.defaultLimits),
    });

    let searchQuery = $state("");

    let error = $state<Error>();
    let saveState = $derived(serialize(parameters));

    let filtered = $derived.by(() => {
        if (!names) {
            return;
        }

        let newNames = names;

        newNames = limit(newNames, parameters.limits);

        newNames = exclude.letters(newNames, parameters.letters);
        newNames = exclude.prefixes(newNames, parameters.prefixes);
        newNames = exclude.postfixes(newNames, parameters.postfixes);
        newNames = exclude.regex(newNames, parameters.regex);

        if (parameters.needsShuffle) {
            newNames = shuffle(newNames);
        } else {
            newNames = sort(
                newNames,
                parameters.sortField,
                parameters.sortOrder
            );
        }

        newNames = search(newNames, searchQuery);

        return newNames;
    });

    $effect(() => {parameters.dataset, loadDataset()});

    async function loadDataset() {
        names = undefined;

        // When a state change occurs, more than one dataset may be being
        // fetched at the same time, leading to a race condition. In order to
        // prevent this, we give up on the old dataset if a new one has already
        // been chosen.

        const oldDataset = parameters.dataset;

        try {
            let newNames = await datasets.load(parameters.dataset);

            if (oldDataset != parameters.dataset) {
                return;
            }

            index(newNames);

            names = newNames;
        } catch (e: any) {
            error = e;

            throw e;
        }
    }

    loadSaveState();

    function loadSaveState() {
        const newParameters = deserialize(parameters);

        if (newParameters) {
            parameters = newParameters;
        }
    }

    function debounce<T>(callback: (eventTarget: T) => void) {
        let timeout = -1;

        return (event: Event & {currentTarget: T}) => {
            // This variable is needed to prevent currentTarget from getting
            // garbage collected when event goes out of scope.

            const eventTarget = event.currentTarget;

            clearTimeout(timeout);

            timeout = setTimeout(() => callback(eventTarget), 250);
        };
    }

    function selectInput(event: Event & {currentTarget: HTMLInputElement}) {
        event.currentTarget.select();
    }
</script>

<svelte:window onpopstate={loadSaveState} />

<main class={parameters.fieldType == FieldType.EVERYTHING ? "wide" : ""}>
    <h1>Webbotron</h1>

    <About />

    <Row name="Search">
        <!--
        * type="search" offers a quick erase button in some browsers, which
        * isn't possible to properly handle in this scenario.
        -->

        <input
            type="text"
            placeholder="James"

            value={searchQuery}
            onkeyup={debounce(
                (input: HTMLInputElement) => {searchQuery = input.value}
            )}
        >
    </Row>

    <Table
        names={filtered}
        {error}
        pageSize={parameters.pageSize}
        fieldType={parameters.fieldType}
    />

    <a href="#table" class="visually-hidden">Jump back to the table</a>
</main>

<aside>
    <Card name="Limit">
        {@const fields = Name.limitableFields}
        {@const captions = Name.captionsForFields(fields)}

        {#each fields as field, i}
            <MultiColumn name={captions[i]}>
                <Row name="Minimum">
                    <NumericInput
                        min={Name.defaultLimits[field].min}
                        max={parameters.limits[field].max}

                        bind:value={parameters.limits[field].min}
                    />
                </Row>
                <Row name="Maximum">
                    <NumericInput
                        min={parameters.limits[field].min}
                        max={Name.defaultLimits[field].max}

                        bind:value={parameters.limits[field].max}
                    />
                </Row>
            </MultiColumn>
        {/each}
    </Card>

    <Card name="Exclude">
        <Row name="Letters">
            <input
                type="text"
                placeholder="bcdfgjqrstxyz"
                bind:value={parameters.letters}
            >
        </Row>
        <Row name="Prefixes">
            <input
                type="text"
                placeholder="wil wolf"
                bind:value={parameters.prefixes}
            >
        </Row>
        <Row name="Postfixes">
            <input
                type="text"
                placeholder="fred gang"
                bind:value={parameters.postfixes}
            >
        </Row>
        <Row name="With a regex">
            <input
                type="text"
                placeholder="e{"{"}2{"}"}"
                bind:value={parameters.regex}
            >
        </Row>
    </Card>

    <Card name="Arrange">
        <Row name="Sort by">
            <Dropdown
                options={Name.sortableFields}
                captions={Name.captionsForFields(Name.sortableFields)}

                bind:value={parameters.sortField}
                disabled={parameters.needsShuffle}
            />
        </Row>
        <Row name="Order">
            <Dropdown
                options={Object.values(SortOrder)}

                bind:value={parameters.sortOrder}
                disabled={parameters.needsShuffle}
            />
        </Row>

        <Row name="Shuffle">
            <input type="checkbox" bind:checked={parameters.needsShuffle}>
        </Row>
    </Card>

    <Card name="Display">
        <Row name="Dataset">
            <Dropdown
                options={datasets.all}
                bind:value={parameters.dataset}
            />
        </Row>
        <Row name="Results at a time">
            <NumericInput min="1" max="1000" bind:value={parameters.pageSize} />
        </Row>
        <Row name="Type of values">
            <Dropdown
                options={Object.values(FieldType)}
                bind:value={parameters.fieldType}
            />
        </Row>
    </Card>

    <Card name="Save">
        <Row name="URL">
            <input type="text" readonly value={saveState} onclick={selectInput}>
        </Row>
    </Card>

    <a href="#table" class="visually-hidden">Jump back to the table</a>
</aside>

<style>
    main, aside {
        display: flex;
        flex-direction: column;
        flex-basis: 32rem;
        flex-grow: 1;
        gap: 1rem;
        max-inline-size: 40rem;
        padding-block: 0.75em;
        padding-inline: 1.5rem;

        &.wide {
            max-inline-size: 80rem;
        }
    }

    main {
        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-radius: var(--border-radius);
        border-block-start: none;
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        background: var(--background-color);
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-style: italic;
    }
</style>
