@charset "utf-8";

@import '@fontsource-variable/source-sans-3';
@import '@fontsource-variable/source-sans-3/wght-italic.css';

:root {
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 4px;
    --border-color: #989bba;
    --active-border-color: #585b79;

    --foreground-color: #000000;
    --background-color: #f0f0f6;
    --page-color: var(--button-color);

    --accent-color: #453fa6;
    --input-color: #f9f9fb;
    --button-color: #e0e2ed;
    --active-button-color: #d1d3e3;

    overflow-wrap: break-word;
    font-family: "Source Sans 3 Variable", sans-serif;
    font-size: 1.167em;
    color-scheme: light dark;
    color: var(--foreground-color);
    background: var(--page-color);
    accent-color: var(--accent-color);

    @media (prefers-color-scheme: dark) {
        --border-color: #646887;
        --active-border-color: #a6a9c5;

        --foreground-color: #ffffff;
        --background-color: #20212f;
        --page-color: var(--input-color);

        --accent-color: #adb3f4;
        --input-color: #141520;
        --button-color: #2b2d3e;
        --active-button-color: #36384d;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    min-inline-size: 0;
}

:focus-visible {
    outline: solid 2px var(--accent-color);
    outline-offset: 1px;
}

::selection {
    background: var(--accent-color);
    color: var(--background-color);
}

[hidden] {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

a {
    color: var(--accent-color);

    &:hover {
        text-decoration: none;
    }
}

input, button, select, summary {
    padding-block: 0.125rem;
    padding-inline: 0.5rem;
    font: inherit;
    color: inherit;
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);

    &:not([disabled]):hover {
        border-color: var(--active-border-color);
    }
}

input {
    background: var(--input-color);

    &[type="checkbox"] {
        margin: 0;
        block-size: 1.75rem;
        inline-size: 1.75rem;
        cursor: pointer;
    }

    &::placeholder {
        opacity: 0.25;
        color: var(--foreground-color);
    }
}

button, select, summary {
    cursor: pointer;
    background: var(--button-color);

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:not([disabled]):hover {
        background: var(--active-button-color);
    }
}
